<div class="col-md-3">
	<div id="sidebar">
	<% theme.widgets.forEach(function(widget){ %>
			<%- partial('../_widget/' + widget) %>
		<% }); %>
	</div> <!-- sidebar -->

	<div class="widget">
		<h4>Vistors</h4>
		<script type="text/javascript" src="//ra.revolvermaps.com/0/0/6.js?i=0q7scpwe1yy&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=lucida_console&amp;l=0" async="async"></script>
	</div>
</div> <!-- col-md-3 -->
